/* global */
.bk-blu{
  background-color: #2C3E50;
  color: white;
}

.bk-blu-light{
  background-color: #3A546D;
  color: white;
}

.bk-green{
  background-color: #1ABC9C;
  color: white;
}

.gn-wrapper-60{
  width: 60%;
  margin: 0 auto;
}


.gn-pd-80{
  padding:80px 0;
}

.hg-70{
  min-height: 70px;
}

.mt-70{
  margin-top: 70px;
  
}

.mb-30{
  margin-bottom: 30px;
}

.mb-15{
  margin-bottom: 15px;
}

h1,h2,h4{
  text-transform: uppercase;
}

h1{
  font-size: 50px;
}

h2{
  font-size: 40px;
}

h4{
  font-size: 22px;
}
/* header */
.gn-header-fixed{
  position: fixed;
  top: 0;
  width: 100%;
  height: 80px;
  z-index: 999;
  background-color: #2C3E50;
  color: white;
 
}

.navbar-default .navbar-brand,
.navbar-default .navbar-nav>li>a{
  color: white;
  text-transform: uppercase;
}

.gn-header-bottom{
  min-height: 300px;
  margin-top: 80px;
}

.gn-jumbotron{
  width: 80%;
  max-width: 800px;
  min-height: 300px;
  margin: 0 auto;
  text-transform: uppercase;
}

.picture{
  width: 40%;
}

.info-data { 
  position: relative;
  padding-bottom: 20px;
  margin-bottom: 20px;
}
.info-data:after {
  position: absolute;
  top: 10px;
  left: 53%;
  content: '';
  display: block;
  width: 15%;
  height: 1px;
 border-bottom: 2px solid #fff;
}

.info-data::before {
  position: absolute;
  top: 10px;
  right: 53%;
  content: '';
  display: block;
  width: 15%;
  height: 1px;
 border-bottom: 2px solid #fff;
}

.info-data span{
  font-size: 25px;
}

#portfolio .info-data::after,
#portfolio .info-data::before{
 border-bottom: 2px solid #2C3E50;
}

#portfolio .info-data > span{
  color: #2C3E50;
}

.gn-carattere::after,
.gn-carattere::before{
  content: '\2013' ;
  padding: 0 5px;
}
.bb-sol{
  border-bottom: 1px solid #EDEDED;
}

.gn-light-green {
  background-color: #15BC9C;
  border: 1px solid white;
}