*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.bk-blu{
  background-color: #2C3E50;
  color: white;
}

.bk-blu-light{
  background-color: #3A546D;
  color: white;
}

.bk-green{
  background-color: #1ABC9C;
  color: white;
}

.hg-70{
  min-height: 70px;
}

.mt-70{
  margin-top: 70px;
}

.mb-30{
  margin-bottom: 30px;
}

.bb-sol{
  border-bottom: 1px solid #EDEDED;
}